@import "/app/variables.scss";

.wrapper {
  background: $white-color;
  padding: 20px 20px 20px 34px;
  border-radius: 40px 40px 40px 0px;
  display: inline-block;
  .main_text {
    font-weight: 500;
    color: rgba(47, 47, 47, 0.8);
  }
  .secondary_text {
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.8);
  }
}

.question {
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: -2px -4px 0px -2px rgba(0, 0, 0, 0.1) inset;
}

.error_message {
  box-shadow:-1.5px -4.5px 0px -2px rgb(0, 0, 0, 0.1) inset;
  border: none;
  background: rgba(255, 217, 219, 1);
  .secondary_text {
    font-size: 16px;
  }
}


@media (max-width: 1366px) {
  .wrapper .secondary_text {
    font-size: 14px;
    line-height: 17px;
  }
}