.imageWrapper {
    z-index: 100;
}


.chosen {
    box-shadow: 0 0 10px 5px #FE4DA2; /* додаємо тінь замість бордера */
}

.incorrect {
    box-shadow: 0 0 10px 5px red; /* також можна додати тінь для неправильних варіантів */
}