.wrapper {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 85%;
  gap: 100px;
  .wrap_wishers {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 75%;
  }
}

@media (max-width: 768px) {
  .wrap_wishers {
    width: 100%;
  }
}
