.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 3rem;
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
    padding: 0;
    position: relative;
    align-items: center;
    gap: 0;
  }
}
