@import "/app/variables.scss";

.button_confirm {
  background: transparent;
  border: 2px solid $white-color;

  &:hover {
    background: $bg-button-confirm;
    outline: none;
    border: none;
  }
  &:disabled {
    background: rgba(99, 99, 99, 0.1);
    border: 2px solid $white-color;
  }
}

.active {
  background: $bg-button-confirm;
  outline: none;
  border: none;
}
