@import "/app/variables.scss";

.button_confirm {
  background: transparent;
  border: 2px solid $white-color;
  transition:
    background 0.3s ease,
    border 0.3s ease;

  &:hover {
    background: linear-gradient(244.83deg, #fe4d78 43.85%, #fe4dcc 141.27%);
    outline: none;
    border: none;
  }
  &:disabled {
    background: rgba(99, 99, 99, 0.1);
    border: 2px solid $white-color;
  }
}

.active {
  background: $bg-button-confirm;
  outline: none;
  border: none;
}

@media (max-width: 768px) {
  .button_confirm {
    min-width: 60%;
  }
}
