.wrapper {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 85%;
  position: relative;

  .error_block {
    position: absolute;
    bottom: 370px;
    left: 100px;
  }
}