@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.wrapper_content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .icon {
    position: absolute;
    left: 18rem;
    top: 15rem;
    animation: blinkAndGrow 2s infinite;
  }
  .scrollImage {
    position: absolute;
    right: -65px;
    top: 420px;
    animation: pulse 2s infinite;
  }
  .answer_text {
    width: 80%;
    opacity: 0;
    animation: fadeInOut 1s ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
}

@media (max-width: 768px) {
  .wrapper_content {
    margin-bottom: 30rem;
    gap: 2rem;
    .scrollImage {
      position: absolute;
      right: -40px;
      top: 12rem;
      animation: pulse 2s infinite;
    }
  }
  .mobilePhotoWrapper {
    position: absolute;
    bottom: 12rem;
  }
  .textFieldMobile {
    width: 80%;
  }
}

@keyframes pulse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes blinkAndGrow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
