.wrapper_content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .icon {
    position: absolute;
    left: 16%;
    top: 50%;
    animation: blinkAndGrow 2s infinite;
  }
  .scrollImage {
    position: absolute;
    right: -65px;
    bottom: 0;
    animation: pulse 2s infinite;
  }
  .textInfo {
    position: absolute;
    top: 0;
    width: 80%;
    height: 10rem;
  }

  .scrollImageDekstop {
    position: absolute;
    right: -12%;
    bottom: -10%;
    width: 30%;
    height: 30%;
    animation: pulse 2s infinite;
  }

  .scrollImageMobile {
    width: 250;
    height: 250;
  }
}

@media (max-width: 768px) {
  .wrapper_content {
    margin-bottom: 30rem;
    gap: 2rem;
    .scrollImage {
      position: absolute;
      right: -40px;
      top: 12rem;
      animation: pulse 2s infinite;
    }
  }
  .mobilePhotoWrapper {
    position: absolute;
    bottom: 12rem;
  }
  .textFieldMobile {
    width: 80%;
  }
}

@keyframes pulse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes blinkAndGrow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
