$purple-color: #9747ff;
$green-color: #4ccfa8;
$white-color: #ffffff;
$grey-color: #b6b5b1;
$red-color: #ff4747;
$pink-color: #fe4da2;
$orange-color: #ffc671;
$bg-button-confirm: linear-gradient(226.76deg, #fe4da2 10.79%, #c54dfe 161.32%);
$title-color: #4a4a4a;

:export {
  purpleColor: $purple-color;
  greenColor: $green-color;
  whiteColor: $white-color;
  greyColor: $grey-color;
}
