$purple-color: #9747FF;
$green-color: #4CCFA8;
$white-color: #FFFFFF;
$grey-color: #B6B5B1;
$red-color: #FF4747;
$bg-button-confirm: linear-gradient(226.76deg, #FE4DA2 10.79%, #C54DFE 161.32%);
 
:export {
  purpleColor: $purple-color;
  greenColor: $green-color;
  whiteColor: $white-color;
  greyColor: $grey-color;
}