@import "/app/variables.scss";

.container {
  padding: 10px 10px 40px 10px;
  border-radius: 25px;
  background: $white-color;
  cursor: pointer;
  border: 5px solid transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 16vw;
}

.imageWrapper {
  border-radius: 25px;
  padding: 2%;
  object-fit: cover;
}

.wrapperMobile {
  width: 150%;
  height: 200px;
  position: relative;
}

.wrapperDesktop {
  width: 100%;
  height: 100%;
}

.chosen {
  box-shadow: 0 0 10px 5px $orange-color;
  border: 5px solid $orange-color;
}

.incorrect {
  border: 5px solid red;
  box-shadow: 0 0 10px 5px red;
  animation: animateElement 0.15s forwards 2;
  --final-rotation: 0deg;
}

.rotate_center {
  transform: rotate(0);
  --final-rotation: 0deg;
}

.rotate_left {
  transform: rotate(-5.55deg);
  --final-rotation: -5.55deg;
}

.rotate_right {
  transform: rotate(5.55deg);
  --final-rotation: 5.55deg;
}

@keyframes animateElement {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(10px, 10px) rotate(5deg);
  }

  50% {
    transform: translate(0, 0) rotate(0deg);
  }

  75% {
    transform: translate(-10px, 10px) rotate(-5deg);
  }

  100% {
    transform: translate(0, 0) rotate(var(--final-rotation));
  }
}

@media (max-width: 768px) {
  .container {
    width: 220px;
    height: 240px;
    padding: 5px;
    margin-top: 3rem;
  }
}
