@import "/app//variables.scss";

.wrapper {
  width: 50%;
  position: relative;

  .dating_date_minutes,
  .dating_date_hours,
  .dating_date_days,
  .dating_date_years {
    position: absolute;
    align-items: center;
    display: flex;
    height: 92px;
    font-weight: 500;
    color: $white-color;
    font-size: 34px;
    padding: 35px;
    border-radius: 59.5px;
    line-height: 89px;
  }

  .dating_date_minutes {
    top: 150.46px;
    left: -50.77px;
    transform: rotate(5deg);
    background-color: $green-color;
  }

  .dating_date_hours {
    top: 380.75px;
    left: -50.77px;
    transform: rotate(-8.53deg);
    background-color: $pink-color;
  }

  .dating_date_days {
    top: 535.72px;
    left: -50.77px;
    transform: rotate(7.84deg);
    background-color: $purple-color;
  }

  .dating_date_years {
    top: 690px;
    left: -30.77px;
    transform: rotate(-6.02deg);
    background-color: $pink-color;
  }

  .photo {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 25.5px;
  }

  .image_confetti {
    position: absolute;
    bottom: -106px;
    left: 100px;
  }

  .wrap_date {
    position: absolute;
    font-size: 150px;
    line-height: 170px;
    font-weight: 700;
    color: white;
    top: 320px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-end;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    padding-right: 2rem;

    .image_confetti {
      display: none;
    }

    .wrap_date {
      line-height: 30px;
      font-size: 70px;
      top: 18rem;
      right: 40px;
    }

    .dating_date_minutes,
    .dating_date_hours,
    .dating_date_days,
    .dating_date_years {
      display: none;
    }

    .photo {
      border-radius: 0 0 25.5px;
    }
  }
}
