.wrapper {
  width: 50%;
  position: relative;

  .photo {
    height: auto;
    width: 100%;
    object-fit: cover;
  }

  .image_confetti {
    position: absolute;
    bottom: -106px;
    left: 100px;
  }
  
  .wrap_date {
    position: absolute;
    font-size: 215px;
    line-height: 170px;
    font-weight: 700;
    color: white;
    top: 200px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: flex-end;
  }
}

