.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45rem;
}

 @media (max-width: 768px) {
  .wrapper {
    width: 393px;
    height: 77.875rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
   
  }
}

.bg_img {
}
