.wrapper {
  display: flex;
  flex-direction: column;
  gap: 200px;
  padding: 3rem;
  margin-bottom: 2rem;

  .title_section {
    width: 100%;
    display: flex;
    gap: 36px;
  }

  .unlock_wrap {
    display: flex;
    flex-direction: column;
    z-index: 100;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0;
    gap: 0;
    .title_section {
      display: flex;
      flex-direction: column;
    }
    .sectionFirstWrapper {
      height: 50rem;
    }
  }
}
