.wrapper {
  display: flex;
  flex-direction: column;
  gap: 200px;
  padding-inline: 3rem;
  margin-bottom: 4rem;

  .title_section {
    width: 100%;
    display: flex;
    gap: 36px;
  }

  .unlock_wrap {
    display: flex;
    flex-direction: column;
    z-index: 100;
    align-items: center;
  }
  .lockImage {
    animation: pulse 2s infinite;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0;
    gap: 0;
    .title_section {
      display: flex;
      flex-direction: column;
    }
    .sectionFirstWrapper {
      height: 50rem;
    }
  }
}

@keyframes pulse {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(20px);
  }
}
