.wrapper {

    display: flex;
    flex-direction: column;
    z-index: 100;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}


.imageContainer {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}



.wrongText {
    position: absolute;
    width: 20rem;
    right: 2rem;
    top: 6rem;
    rotate: 5deg;
}
