.wrapper {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 85%;
  position: relative;
  gap: 2rem;
  margin-bottom: 4rem;
  .wrongText {
    position: absolute;
    width: 20rem;
    right: 2rem;
    top: 6rem;
    rotate: 5deg;
    z-index: 100;
  }
  .question {
  }
}

.imageContainer {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.imageButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .wrapper {
    z-index: 999;
    padding-bottom: 520px;
    gap: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .wrongText {
      top: 6rem;
      left: 6.5rem;
      text-align: left;
      transform: rotate(-2.8deg);
    }
  }
}
