.wrapper {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 85%;
  position: relative;
  gap: 2rem;
  .wrongText {
    position: absolute;
    width: 20rem;
    right: 2rem;
    top: 6rem;
    rotate: 5deg;
    z-index: 100;
  }
  .question {
    width: 80%;
  }
}

.imageContainer {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

@media (max-width: 768px) {
  .wrapper {
    .wrongText {
      top: 17rem;
      rotate: 1deg;
    }
  }
}
