.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    padding: 0;
    position: relative;
    align-items: center;
    gap: 0;
  }
}
