.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 5rem;

  .emoji_1 {
    position: absolute;
    left: 20rem;
    top: 12rem;
  }

  .emoji_2 {
    position: absolute;
    left: 30rem;
    top: 10rem;
  }

  .emoji_3 {
    position: absolute;
    left: 40rem;
    top: 10rem;
  }

  .emoji_4 {
    position: absolute;
    left: 45rem;
    top: 15rem;
  }

  .emoji_5 {
    position: absolute;
    left: 50rem;
    top: 12rem;
  }

  .emoji_6 {
    position: absolute;
    left: 65rem;
    top: 12rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    .emoji_1,
    .emoji_2,
    .emoji_3,
    .emoji_4,
    .emoji_5,
    .emoji_6 {
      display: none;
    }
  }
}
