.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .image {
    cursor: pointer;
    animation: blinkAndGrow 2s infinite;
  }

  .image:hover {
    background: radial-gradient(
      circle,
      #ffac30 50%,
      rgba(255, 255, 255, 0) 65%
    );
    width: auto;
    transform: scale(1.1);
  }
}

@keyframes blinkAndGrow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
