.wrapper_photos {
  display: flex;
  gap: 20px;
}

.photoContainer {
  position: relative;
  width: calc(50% - 10px);
  border-radius: 21.25px;
  overflow: hidden;
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(230, 191, 240, 0.8);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.particlesBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photos {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition:
    opacity 0.3s ease,
    filter 0.3s ease;
  filter: blur(10px);
}

.noBlur {
  filter: blur(0);
}

@media (max-width: 768px) {
  .wrapper_photos {
    position: absolute;
    align-items: center;
    width: 120%;
    border-radius: 30px;
    background-color: white;
    overflow-x: hidden;
    top: 55rem;
    height: 290px;
    transform: rotate(-6deg);
    overflow-y: hidden;
    gap: 9px;
    padding: 8vw;
    box-shadow: -15px 60px 30px -30px rgba(0, 0, 0, 0.5);
  }
  .photos {
    border-radius: 15%;
    width: 208.78px;
    height: 270.9px;
  }
}
