.wrapper_photos {
  display: flex;
  gap: 20px;
}

.photos {
  width: calc(50% - 10px);
  height: auto;
  object-fit: cover;
  flex: 1;
}


@media (max-width: 768px) {
  .wrapper_photos {
    position: relative;
    transform: rotate(-6deg);
   
  }
  .photos {
    width: 208.78px;
  }
}
